<% stylesheet_link_tag "ingredientes" %>

<div class="submenu">
	<table>
		<tr>
			<td class="bnt" ><%= link_to "Novo ingrediente", novoingrediente_path, class: 'link' %></td>
			<td class="bnt"><%= link_to "Ingredientes", ingredientes_path, class: 'link' %></td>
		</tr>
	</table>
</div>