<%= stylesheet_link_tag "users" %>

<div class="content">
	<div class="usuarios">
			<table id="Usuarios">
			<tr>
				<th class="linha">Email</th>
				<th class="linha">Ação</th>

			</tr>

			<% @user.each do |user| %>
				<tr>
					<td class="linhalista"><%= user.email %></td>
					<td><%= link_to 'Apagar', user, method: :delete, data: { confirm: 'apagar usuário?'} %></td>
				</tr>
			<% end %>

		</table>
	</div>
</div>