<%= stylesheet_link_tag "users" %>

<div class="content">
	<div class="redefine">
		<h1> Digite o email </h1>

		<%= form_tag altera_url,method: :post do %>
			<%= text_field_tag :email, params[:email], :class => "text_field" %><br><br>
			<%= submit_tag "Redefinir", :class => "submit_tag" %>
		<% end %>
	</div>
</div>