<%= stylesheet_link_tag "users" %>

<div class="content">
	<div class="user">
		<h1>Usuário</h1>

		<p class="labels">Nome:   <%= @user.name %></p>

		<p class="labels">E-mail: <%= @user.email %></p><br>
	</div>
</div>