<%= stylesheet_link_tag "receitas" %>

<div class="submenu">
	<table>
		<tr>
			<td class="bnt" ><%= link_to "Nova Receita", new_receita_path, class: 'link' %></td>
			<td class="bnt"><%= link_to "Receitas", receitas_path, class: 'link' %></td>
		</tr>
	</table>
</div>