* {
	margin:  0px;
}

#Usuarios {
	font-size: 14px;
	font-family: monospace;
	background: #CCC;
	width: 500px;
	height: 50px;
	margin-left: 500px;
}

#Usuarios tr th {
	margin-top: 30px;
	border: 5px;
	border-color: black;
}

#Usuarios tr td {
	border: 5px;
	border-color: black;
	margin-left: 10px;
	padding-left: 35px;
}